<div class="card">
  <div class="card-content">
    <div class="card-header">
      <h5 class="card-title">{{ !isEditing ? "Crear" : "Editar" }} Reserva</h5>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit(reservationForm)" #reservationForm="ngForm">
        <div class="row">
          <!-- Fecha de Reserva -->
          <div class="col-md-4 col-sm-12 mb-2">
            @if (isEditing) {
            <label for="dateEnd">Fecha Reservación:</label>
            <input
              name="dateReservation"
              [(ngModel)]="reser.dateReservation"
              readonly
              class="form-control"
              type="date"
              required
              dateReservation
              #dateReservation="ngModel"
            />
            } @else {
            <label for="dateEnd" class="fw-bold text-dark-emphasis"
              >Nueva Reserva</label
            >
            <p class="text-bg-secondary text-center form-control fw-bold">
              Reserva con confianza!!!
            </p>
            }
          </div>

          <!-- Fecha de inicio -->
          <div class="col-md-4 col-sm-12 mb-2">
            <label for="dateStart">Fecha Inicial:</label>
            <input
              name="dateStart"
              [(ngModel)]="reser.dateStart"
              class="form-control"
              type="date"
              required
              dateStart
              #dateStart="ngModel"
            />
            @if (dateStart.invalid && (dateStart.dirty || dateStart.touched)) {
            @if(dateStart.errors!['required']){
            <div class="text-danger">La fecha inicial es requerida</div>
            } @if(dateStart.errors!['dateStart']){
            <div class="text-danger">
              La fecha inicial no tiene formato correcto
            </div>
            } }
          </div>

          <!-- Fecha de finalización -->
          <div class="col-md-4 col-sm-12 mb-2">
            <label for="dateEnd">Fecha Final:</label>
            <input
              name="dateEnd"
              [(ngModel)]="reser.dateEnd"
              class="form-control"
              type="date"
              required
              dateEnd
              #dateEnd="ngModel"
            />
            @if (dateEnd.invalid && (dateEnd.dirty || dateEnd.touched)) {
            @if(dateEnd.errors!['required']){
            <div class="text-danger">La fecha final es requerida</div>
            } @if(dateEnd.errors!['dateEnd']){
            <div class="text-danger">
              La fecha final no tiene formato correcto
            </div>
            } }
          </div>
        </div>

        <div class="row">
          <!-- Cliente -->
          <div class="col-md-6 col-sm-12 mb-3">
            <label for="clientId">Selecciona cliente:</label>
            <select
              name="clientId"
              [(ngModel)]="reser.clientId"
              class="form-control"
              required
              #clientId="ngModel"
            >
              <option *ngFor="let client of clients" [value]="client.id">
                {{ client.fullName }}
              </option>
            </select>
          </div>

          <!-- Servicio -->
          <div class="col-md-6 col-sm-12 mb-3">
            <label for="serviceId">Selecciona un servicio:</label>
            <select
              name="serviceId"
              [(ngModel)]="reser.serviceId"
              class="form-control"
              required
              #serviceId="ngModel"
            >
              <option value="" disabled selected>Seleccione un servicio</option>
              <option *ngFor="let service of services" [value]="service.id">
                {{ service.name }}
              </option>
            </select>
          </div>
        </div>

        <!-- Botones -->
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <button
              type="submit"
              class="btn btn-outline-primary"
              [disabled]="reservationForm.invalid"
            >
              {{ reser.id != 0 ? "Editar" : "Crear" }}
            </button>

            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="onClear(reservationForm)"
            >
              Limpiar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
